
.nav li{
    float:left;
    list-style: none;
}
.nav:after{
    content:'';
    display: block;
    clear: both;
}
.nav li a{
    color:#F7F8FA;
    display: inline-block;
    padding:10px 10px ;
    transition: color ease .3s;
}
.nav li a:hover{
    color: #b969e7cf;
}
.nav li a.selected{
    color: #af4fe7;
}

.productItem {
    width: 200px;
    background-color: rgb(128, 115, 115);
    border:1px solid #00F;
    justify-content: center;
    align-items: center;
}