
.nav li{
    float:left;
    list-style: none;
}
.nav:after{
    content:'';
    display: block;
    clear: both;
}
.nav li a{
    color:#F7F8FA;
    display: inline-block;
    font-weight: 600;
    padding:10px 10px ;
    transition: color ease .3s;
}
.nav li a:hover{
    color: #14c187;
}
.nav li a.selected{
    color: #14c187;
}

.textstyle {
    color: #878787; 
    line-height: 30px; 
    /* text-align: center; */
}

.contactItem {
    color: #2c2b2b; 
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.topUI {
    background-color: #07043b;
    width: auto; 
    height: min-content; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
}
.bottomUI {
    background-color: #07043b;
    height: 100px;
    justify-content: center;
    align-items: center;

}
.bottomFont {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}
.logo {
    color:white;
    margin-left: 20px; 
    font-size: 26px; 
    font-weight: 700;
}

.producta {
    text-decoration:none;
    width: 300px;
    height: 480px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    box-shadow: 3px 3px 3px 0px #ccc;
}

.productItem {
    /* text-decoration:none;
    width: 300px;
    height: 480px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    box-shadow: 3px 3px 3px 0px #ccc; */
}
.productImg {
    width: 280px;
    height: 280px;
    border: 2px solid #a1a1a1;
    border-radius: 140px;
    margin-left: 8px;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 0px #ccc;
}
.productName {
    height: 60px;
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
.productInfo {
    font-size: 18px;
    color: #777;
    padding-left: 8px;
    padding-right: 8px;
}

#productInfoDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    padding-top: 100px;
    /* padding-bottom: 50px; */
}
#productInfoImg {
    width: 500px;
    height: 400px;
    padding-left: 20px;
    border-radius:10px;
}

#productInfoImg2 {
    width: 40%;
}

#productInfoImg1 {
    width: 500px;
    height: 200px;
    padding-left: 20px;
    border-radius:10px;
}

#productInfoName {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 700;
}
